body {
  background-color: var(--bs-indigo);
  font-weight: 500;
  color: #fff;
}
.border-5 {
  border-color: var(--bs-gray-400);
}
.fas.fa-user {
  color: var(--bs-purple);
}
div.card.p-5 {
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: var(--bs-gray-300);
}
label.form-label {
  color: var(--bs-gray-600);
  letter-spacing: 2px;
}
.boton {
  font-weight: 800;
  letter-spacing: 2px;
  background-color: var(--bs-purple);
  border-color: var(--bs-purple);
}
.boton:hover {
  border-color: var(--bs-purple);
  background-color: #8055d0;
}
.card-header {
  background-color: var(--bs-teal);
  color: #eee6e6;
}
